echo backend/data/ > .gitignore
echo backend/venv/ >> .gitignore
echo backend/data/processed* >> .gitignore
echo backend/ml_models/*.pkl >> .gitignore
echo frontend/node_modules/ >> .gitignore
echo __pycache__/ >> .gitignore
echo *.pyc >> .gitignore
echo .env >> .gitignore
